* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #a78bfa;
    --primary-dark: #8a5cf6f4;
    --primary-light: #c4b5fd;
    --bg-dark: rgb(52, 6, 62);
}

body {
    background-color: var(--primary-dark);
    overflow: hidden;
    text-align: center;
}

.container{
    /* display: flex;
    justify-content: space-around;
    align-items:center; */
}

#carCanvas{
    background-color: var(--primary-color);
}

#networkCanvas{
    background-color: var(--bg-dark);
}
