body {
    margin: 0;
    background: #212529;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    font-family: Arial, sans-serif;
}

#carCanvas {
    background: #f1f3f5;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#networkCanvas {
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

button {
    padding: 7px 15px;
    border-radius: 30px;
    color: rgba(232, 90, 173, 0.951);
    background-color: rgb(242, 197, 197);
    border: 2px solid pink;
    font-weight: bold;
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", cursive, sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: auto;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button:hover {
    box-shadow: 0px 1px 3px 0px pink;
}

button:active {
    transform: scale(0.99);
    box-shadow: none;
}
