* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #a78bfa;
    --primary-dark: #8a5cf6f4;
    --primary-light: #c4b5fd;
    --bg-dark: rgb(52, 6, 62);
}

body {
    background-color: var(--primary-dark);
    overflow: hidden;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#carCanvas{
    background-color: var(--primary-color);
}

#networkCanvas{
    background-color: var(--bg-dark);
}
